
html, body {
	max-height: 400;
	width: 400;
	background-color: #71f442;
	font-family: Lato, Arial, Helvetica, Sans-serif;
	
	
	}

	
#messages-container {

	max-height: 400;
	height: 370;
	width: 370;
	overflow-y: scroll;
	overflow-x:hidden;
	
	
}

#input-box {
	width: 80%;
}

#send-button {
	width: 15%;
}